  <!-- <div class="card mt-4">
      <h4 class="card-header">Home</h4>
      <div class="card-body">
          <p>Welcome to your profile !!</p>
          <p>Your role is: .</p>
      </div>
  </div> -->

  <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>Email : </strong>{{ currentUser.sub }}
      </h3>
    </header>
   
    
    <strong>Roles : </strong>
    
      
        {{ currentUser.authorities}}

    
    <br>
    <strong>Centre affilié : </strong>


        <!--{{ }}-->
      
    
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>