<div class="divMain">
    <div *ngFor="let aCenter of centers">
        <div class="centre">
            <div>
                {{aCenter.nom}}
                <br>
                {{aCenter.numAdresse}} {{aCenter.adresse}}, {{aCenter.cp}} {{aCenter.comnom}} 
            </div>
            <button class="choisirBtn" (click)="selectCenter(aCenter)">
                Choisir
            </button>
        </div>
        <br><br>
    </div>
</div>

<!--

    <div *ngIf="VilleSelectionnee(aCenter.comnom)">
        {{aCenter.nom}}
    </div>

    <button (click)="selectCenter(aCenter)">
        {{aCenter.name}} {{aCenter.city}}
    </button>

    <app-choix-centre [center]="selected" (deleted)="onDeleted($event)"></app-choix-centre>

    <div *ngIf="selected" class="detail">
    <h2>{{selected.name | uppercase}}</h2>
    <div>{{selected.address}} 
        <span> {{selected.postalCode}} {{selected.city}}</span>
    </div>
</div>
-->